// assets/styles/main.scss
@import "../../node_modules/ant-design-vue/dist/reset.css";

body {
  font-family: Arial, sans-serif;
}

.ant-btn-primary {
  background-color: #1890ff;
}

.ant-form-item-control-input-content {
  select{
    min-height: 32px;
  }
}
input[type=text]{
  border: 1px solid #7d90b0;
  height: 32px;
  border-radius: 4px;
}
